.navbar
{
    width: 100%;
    background-color: aliceblue;
    height: auto;
   
}
.navbarWrapper
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.navbarWrapperLeft
{
    flex:3;
    
    
}
.navbarWrapperRight
{
    flex:9;
   
   
}
.menubarList
{

    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menubarListItem
{
    font-size: 18px;
    font-weight: 400;
    padding: 7px;
}
